  @import url('https://fonts.googleapis.com/css2?family=Sonsie+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Navegador*/
.nav {
  color: white;
  background-color: #1d1d1dfa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 10px 0 rgba(20, 18, 20, 0.5);
}

.titulo-container {
  display: flex;
  align-items: center;
}

.titulo-pagina {
  margin-right: 20px;
  padding-left: 40px;
  font-size: 20px;
  font-family: 'Sonsie One', cursive;
}

.enlaces {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  padding-right: 60px;
}

nav a {
  font-size: 18px;
  text-decoration: none;
  padding: 15px 32px;
  color: white;
}
