@import url("https://fonts.googleapis.com/css2?family=Lato&family=Sonsie+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: #f5f5f5;
}

/**Navegador*/
.nav {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  text-shadow: 0 3px 3px #000;
}

.titulo-pagina {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.titulo-pagina li {
  list-style: none;
  font-size: 1.5rem;
  font-family: "Sonsie One", cursive;
  color: white;
  text-shadow: 4px 4px 6px rgb(3, 3, 3);
}

.enlaces {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.enlaces li {
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 20px 32px;
  list-style: none;
}

.enlaces a::after {
  content: "";
  height: 2px;
  width: 0%;
  background-color: #fff;
  display: block;
  transition: 0.5s ease-in-out;
}

.enlaces a:hover::after {
  content: "";
  height: 2px;
  width: 100%;
  background-color: #fff;
  display: block;
}

/**Encabezado principal*/
.header {
  height: 100vh;
  padding: 0.1px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.head {
  text-align: center;
  padding: 0;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /**ubica el texto uno debajo del otro, se utiliza junto a flexbox display*/
  color: white;
}

.title {
  font-size: 5rem;
  text-shadow: 5px 5px 4px rgba(20, 18, 20, 0.5);
  border-bottom: 2px solid white;
  padding-bottom: 10px;
}

.albondigas {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(/img/albóndigas.jpg);
}

.pizza {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(/img/pizza.jpg);
}

.pasteldepapas {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(/img/pasteldepapas.jpg);
}

.cheesecake {
  background-image: linear-gradient(to top, #424a5a88 0%, #373a3f56 100%),
    url(/img/cheesecake.jpg);
}

.tiramisu {
  background-image: linear-gradient(to top, #424a5a88 0%, #373a3f56 100%),
    url(/img/tiramisu.jpg);
}

.ramen {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(/img/ramen.jpg);
}

/**Contenido de recetas*/
.card {
  width: 90%;
  padding: 40px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 4px 3px 15px -2px rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  background: white;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
}

.card h2 {
  font-size: 1.5rem;
  padding: 10px;
}

.contenedor p {
  padding: 10px;
}

/**Footer*/
.footer {
  background: #000;
  height: 250px;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  border-bottom: 1px solid white;
}

.nombre-pagina {
  display: flex;
  justify-content: center;
}

.contacto,
.explore,
.social-media {
  margin: 0 40px;
}

.explore a {
  display: block;
  color: white;
}

.social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover {
  background-color: white;
  color: #000;
}

.social-media-icon i {
  font-size: 24px;
  line-height: 40px;
}

.copyright {
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}