@import url("https://fonts.googleapis.com/css2?family=Lato&family=Sonsie+One&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  background: #ebebeb;
}

/*Navegador*/
.navegador {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
}

.navegador a {
  text-decoration: none;
  color: white;
  text-shadow: 0 3px 3px #000;
}

.titulo-pagina {
  cursor: pointer;
  margin-bottom: 0;
  text-shadow: 0 3px 3px #000;
}

.titulo-pagina li {
  font-size: 1.5rem;
  font-family: "Sonsie One", cursive;
  list-style: none;
}

.enlaces {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin: 0;
}

.enlaces li {
  font-weight: bold;
  font-size: 1.125rem;
  text-decoration: none;
  padding: 20px 32px;
  list-style: none;
}

/* Border bottom animado*/
.enlaces a::after {
  content: "";
  height: 3px;
  width: 0%;
  background-color: #fff;
  display: block;
  transition: 0.5s ease-in-out;
}

.enlaces a:hover::after {
  content: "";
  height: 3px;
  width: 100%;
  background-color: #fff;
  display: block;
}

/*SideBar*/
.sidebar {
  background-color: #252525;
}

.offcanvas-header {
  border-bottom: 2px solid white;
}

.offcanvas-title {
  font-size: 1.5rem;
  font-family: "Sonsie One", cursive;
}

.offcanvas-body .item {
  color: #9b9b9b;
  text-shadow: none;
}

.side-item {
  font-weight: 600;
  font-size: 1.125rem;
  padding: 15px 20px;
  margin: 10px 30px 10px 20px;
  display: flex;
}

.side-item:hover {
  background: #3f3f3f5d;
  border-radius: 20px;
}

.side-item:hover .item {
  color: white !important;
}

.side-item:hover .icon {
  color: white;
}

.icon {
  font-size: 1.5rem;
  padding-right: 20px;
  color: #9b9b9b;
}

.offcanvas-body .navb-button {
  text-align: center;
  width: 90%;
  padding: 15px 20px;
  margin: 20px auto;
  font-size: 1.125rem;
  background-color: white;
  color: #000;
  font-weight: 600;
  text-shadow: none;
}

.offcanvas-body .navb-button:hover {
  box-shadow: 5px 10px 11px rgba(2, 2, 2, 0.507);
}

.sociales {
  justify-content: space-around;
  border-top: 1px solid #9b9b9b;
}

.icono {
  font-size: 1.5rem;
  color: #9b9b9b;
  text-shadow: none;
  padding: 20px;
}

.icono:hover {
  background: #3f3f3f5d;
  color: white;
}

/*Portada*/
.header {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(img/portada3.jpg);
  height: 100vh;
  padding: 0.1px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.contenedor {
  width: 90%;
  /* max-width: 1200px; */
  overflow: hidden; /*para ocultar algo si se desborda*/
  margin: auto; /*para que lo centre todo*/
  padding: 60px 0;
}

.head {
  text-align: center;
  padding: 0;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /*ubica el texto uno debajo del otro, se utiliza junto a flexbox display*/
  color: white;
}

.title {
  font-size: 5rem;
  margin-bottom: 10px;
  text-shadow: 5px 5px 4px rgba(20, 18, 20, 0.5);
  border-bottom: 3px solid white;
  padding-bottom: 10px;
}

/* Carrusel*/
.carousel-inner {
  padding: 1em;
  padding-top: 0;
}

.carousel-item {
  margin: 10px;
}

.card {
  margin: 0 0.5em;
  box-shadow: 5px 6px 11px rgba(2, 2, 2, 0.507);
  border: none;
  width: 300px;
  height: 400px;
  margin-bottom: 25px;
  border-radius: 5px;
  overflow: hidden;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(0, 0, 0, 0.651);
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.card .img-wrapper {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
}

.card img {
  max-height: 100%;
}

.card-title {
  padding-top: 20px;
  text-align: center;
  font-size: 1.5rem;
  color: #000;
}

.btn-primary {
  border: none;
  display: block;
  background: SaddleBrown;
  padding: 13px;
  color: white;
  border-radius: 30px;
  width: 150px;
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 1.125rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: white;
  border: 2px solid saddlebrown;
  color: saddlebrown;
  font-weight: bold;
}

.btn-secondary {
  display: block;
  width: 300px;
  margin: 30px auto;
  margin-top: 0;
  border: 2px solid saddlebrown;
  border-radius: 30px;
  padding: 13px;
  color: saddlebrown;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
}

.btn-secondary:hover {
  background: saddlebrown;
  color: #fff;
}

/**Titulo de secciones*/
.title-main {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding-top: 25px;
  margin-bottom: 20px;
  color: #000;
}

/* Sección recetas favoritas*/
.recetas-favoritas {
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 10px auto;
  font-size: 1.25rem;
}

.contenedor-receta {
  display: flex;
  margin-bottom: 25px;
  padding: 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 6px 11px rgba(0, 0, 0, 0.507);
  background: #fff;
}

.title-receta {
  margin: 20px 40px;
  font-size: 1.5rem;
  cursor: pointer;
}

.title-receta a {
  color: saddlebrown;
}

.title-receta a:hover {
  color: black;
}

.img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}

.parrafo,
.parrafo1 {
  margin: 0 40px 40px 40px;
  font-size: 1.25rem;
  color: #000;
}

/* Sección Presentación*/
/* .presentacion {
  background-image: url(/img/fondo.jpg);
  font-size: 1.25rem;
}

.contenido {
  display: flex;
  justify-content: space-between;
}

.mujer {
  width: 25%;
  height: 360px;
  object-fit: cover;
  filter: drop-shadow(6px 6px 8px rgba(0, 0, 0, 0.507));
} */

/* Footer*/
.footer {
  background: #252525;
  height: 17rem;
  color: white;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  padding: 40px 20px;
  border-bottom: 1px solid white;
}

.nombre-pagina {
  display: flex;
  justify-content: center;
}

.cont {
  display: flex;
  justify-content: space-around;
}

.contacto,
.explore,
.social-media {
  margin: 0 40px;
}

.explore a {
  display: block;
  color: white;
}

/* iconos */
.social-media {
  display: flex;
  justify-content: flex-end;
}

.social-media-icon {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon:hover {
  background-color: white;
  color: #000;
}

.social-media-icon i {
  font-size: 24px;
  line-height: 40px;
}

.copyright {
  font-size: 14px;
  margin-top: 16px;
  text-align: center;
}

/** CONTENIDO DE RECETAS Y CONTACTO*/
.header-otros {
  height: 30vh;
}

.contenedor-central {
  height: 40%;
}

.title-central {
  font-size: 3rem;
  color: #fff;
  padding-top: 20px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
  text-shadow: 5px 5px 4px rgba(20, 18, 20, 0.5);
}

/** PAGINA DE CONTACTO*/
/*Contacto*/
.container-contacto {
  display: flex;
  justify-content: space-evenly;
  margin: 30px auto;
  padding: 20px;
}

.title-contacto {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

/*Formulario*/
.form {
  padding: 0;
}

input,
textarea {
  border: 1px solid gray;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  width: 95%;
  padding: 12px 10px;
  margin: 0 auto;
}

input[type="submit"] {
  border: none;
  border-radius: 30px;
  background: #000;
  color: #fff;
}

input[type="submit"]:hover {
  background: saddlebrown;
}

.mapa {
  width: 600px;
  height: 315px;
}

.title-sigueme {
  margin: 20px;
}

.social-media-icon-1 {
  display: inline-block;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 50%;
  text-align: center;
  color: #fff;
}

.social-media-icon-1:hover {
  background: saddlebrown;
  color: white;
}

.social-media-icon-1 i {
  font-size: 24px;
  line-height: 40px;
}

/** PÁGINA CONTENIDO DE RECETAS*/
/* Imagenes recetas*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 25px;
  margin: 30px 60px;
}

.grid-item {
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 10px;
  margin-top: 20px;
  position: relative;
  height: 350px;
  text-align: center;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.imagen {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.grid-item:hover {
  transform: translateY(-20px);
  box-shadow: 5px 6px 11px rgba(2, 2, 2, 0.507);
}

.texto {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
  color: black;
  font-size: 1.5rem;
}

/** RECETARIO */
.albondigas {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(img/albóndigas.jpg);
}

.pizza {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(img/pizza.jpg);
}

.pasteldepapas {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(img/pasteldepapas.jpg);
}

.cheesecake {
  background-image: linear-gradient(to top, #424a5a88 0%, #373a3f56 100%),
    url(img/cheesecake.jpg);
}

.tiramisu {
  background-image: linear-gradient(to top, #424a5a88 0%, #373a3f56 100%),
    url(img/tiramisu.jpg);
}

.ramen {
  background-image: linear-gradient(to top, #13121263 0%, #373a3f56 100%),
    url(img/ramen.jpg);
}

/**Contenido de recetas*/
.card-1 {
  width: 90%;
  padding: 20px;
  margin: 40px auto;
  border-radius: 5px;
  box-shadow: 5px 6px 11px -2px rgba(0, 0, 0, 0.6);
  font-size: 1.25rem;
  background: white;
}

.contenedor-recetario {
  width: 90%;
  margin: 0 auto;
}

.card-1 h2 {
  font-size: 2rem;
  padding: 10px;
}

.contenedor-recetario p {
  padding: 10px;
}

.card-1 li {
  padding: 5px 0;
}

/*TODO: Diseño responsivo*/
@media (max-width: 1200px) and (min-width: 992px) {
  /*Contenido recetas*/
  .grid-container {
    grid-gap: 10px;
    margin: 20px;
  }

  /* Página contacto */
  .container-contacto {
    padding: 20px 0;
  }

  .mapa {
    width: 450px;
  }
}

@media (max-width: 768px) {
  /*Navbar*/
  .navegador {
    padding: 8px 0 !important;
  }

  .titulo-pagina {
    padding-left: 0;
    margin-left: 1rem;
  }

  .navegador .titulo-pagina li {
    width: 30px;
  }

  /*Portada*/
  .title {
    font-size: 3.5rem;
  }

  .contenedor {
    padding: 0;
  }

  /*Página contacto*/
  .container-contacto {
    flex-direction: column-reverse;
    margin: 40px 0;
  }

  .ubicacion {
    margin: 40px 0;
  }

  .mapa {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  /*Footer*/
  .container-footer {
    padding-left: 0;
  }

  .contacto {
    margin-right: 0;
  }

  .social-media {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
  }

  .body-column-social {
    display: flex;
    justify-content: flex-start;
  }

  .follow {
    text-align: center;
  }

  .youtube {
    margin-left: 0;
  }

  /*Contenido recetas*/
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin: 20px 10px;
  }

  .grid-item {
    margin-top: 20px;
    height: 330px;
  }

  /* PÁGINA CONTACTO*/
  .mapa {
    width: 400px;
  }
}

/*Maximo hasta tables y minimo hasta celular*/
@media (min-width: 576px) and (max-width: 768px) {
  /*Footer*/
  .footer {
    height: 75%;
    padding: 0.1px;
  }

  .container-footer {
    flex-direction: column;
    padding: 15px 15px 0 15px;
  }

  .cont {
    justify-content: space-between;
    margin: 15px 30px;
  }

  .contacto {
    margin: 0;
  }

  .social-media {
    justify-content: flex-start;
    margin-bottom: 15px;
  }

  .copyright {
    margin: 5px;
  }

  /*Contenido recetas*/
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin: 20px 10px;
  }

  .grid-item {
    margin-top: 20px;
    height: 320px;
  }

  /* PÁGINA CONTACTO*/
  .title-contacto {
    margin-bottom: 40px;
  }

  .container-contacto {
    padding: 20px 60px;
  }
}

@media (min-width: 576px) {
  /*Index Carrousel*/
  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    margin: 0 auto;
    display: flex;
  }
}

@media (max-width: 412px) {
  /*Sidebar*/
  .sidebar {
    width: 85vw !important;
  }
}

/*Celulares*/
@media (max-width: 576px) {
  .title-main {
    padding: 30px 0;
  }

  /*Carrusel de cards*/
  .carousel-item {
    margin: 0 auto;
  }

  .card {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .card .img-wrapper {
    height: 12.5em;
  }

  /*Sección 1, recetas favoritas*/
  .img {
    width: 150px;
    height: 150px;
  }

  .title-receta {
    margin: 10px auto;
  }

  .parrafo1 {
    margin: 0 auto;
  }

  /*Footer*/
  .footer {
    height: 75%;
    padding: 0.1px;
  }

  .container-footer {
    flex-direction: column;
    padding: 15px 15px 0 15px;
  }

  .cont {
    flex-direction: column;
    margin: 15px 20px;
  }

  .explore,
  .contacto {
    margin: 10px;
  }

  .social-media {
    justify-content: center;
    margin: 0 20px 15px 20px;
  }

  .follow {
    display: none;
  }

  .youtube {
    margin-left: 0;
  }

  .copyright {
    margin: 10px;
  }

  /*Contenido recetas*/
  .grid-container {
    grid-template-columns: none;
    grid-gap: 10px;
    margin: 20px 40px;
  }

  .grid-item {
    margin-top: 15px;
    height: 300px;
  }

  .texto {
    font-size: 1.125rem;
  }

  /* PÁGINA CONTACTO y CONTENIDO RECETAS*/
  .contenedor-central {
    height: 50%;
  }

  .header-otros {
    height: 35vh;
  }

  .title-central {
    font-size: 2.5rem;
    border-bottom: none;
    padding-top: 30px;
  }

  .title-contacto {
    margin-bottom: 50px;
  }

  /* RECETARIO */
  .card-1 {
    width: 95vw;
    padding: 10px;
  }
}
